.categories-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-top: 15px;
}

.category-item {
    padding: 6px 12px;
    margin-right: 6px; 
    cursor: pointer;
}

.category-item:first-child {
    background-color: #FFB3B3;
    border-radius: 12px;
}

.category-item:last-child {
    margin-right: 0;
}

.categories-container::-webkit-scrollbar {
    display: none;
}