.home-logo-image {
    height: 55px;
    width: auto;
}

.home-couple-image {
    height: 250px;
    width: auto;
}

/* .image-pink-ring {
    height: 30px;
    width: auto;
    opacity: 40%;
    margin-top: 4px;
} */