.home-logo-image {
    height: 55px;
    width: auto;
}

.home-couple-image {
    height: 250px;
    width: auto;
}

/* .image-pink-ring {
    height: 30px;
    width: auto;
    opacity: 40%;
    margin-top: 4px;
} */

.explore-app-div {
    position: relative;
}

.up-arrow {
    width: 12px;
    position: absolute;
    opacity: 100%;
    right: 240px;
    top: -15px;
}


.up-arrow-second {
    width: 12px;
    position: absolute;
    opacity: 60%;
    right: -22px;
    top: 35px;
}

.explore-app-text {
    margin-top: 6px;
    text-align: center;
}