.live-container {
    padding: 5px;
    margin-top: -40px;
}

.live-container-second {
    padding: 2px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.page-heading {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 22px;
}

.page-heading.reduce-margin {
    margin-bottom: -10px;
}

.image-bottom-margin {
    margin-bottom: 12px;
}

.two-col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.left-col, .right-col {
    flex: 1;
    ;
}

.left-col p {
    text-align: left;
}

.left-col img, .right-col img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
}

.right-col p {
    margin-left: 8px;
}

.center-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}