body {
    background-color: #ffffff;
}

.live-container {
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

.live-container-second {
    padding-left: 2px;
    padding-right: 2px;
}

.page-heading {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 22px;
}

.page-heading.reduce-margin {
    margin-bottom: -10px;
}

.image-bottom-margin {
    margin-bottom: 12px;
}

.two-col-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.left-col, .right-col {
    flex: 1;
    ;
}

.left-col p {
    text-align: left;
}

.left-col img, .right-col img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
}

.right-col p {
    margin-left: 8px;
}

.top-banner-image {
    margin-bottom: -60px;
}

@media (min-width: 501px) {
    .top-banner-image {
        display: none;
    }
}

.couple-container {
    position: relative;
    min-height: 100vh;
}

.bottom-banner-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.bottom-banner-image {
    width: 100%;
}

.image-middle {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}