.resources-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 15px;
    margin-bottom: -10px;
}

.resources-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #F1F1F1;
    border-radius: 15px;
    padding: 18px;
    max-width: 100%;
    position: relative;
}

.resources-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.resources-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resources-text-content {
    flex: 1;
    margin-right: 10px;
}

.resources-title {
    margin: 0;
    width: 90%;
}

.resources-description {
    margin: 5px 0 0 0;
    padding-top: 6px;
}

.resources-card-image {
    width: 100px;
    height: auto;
    object-fit: cover;
}
