/* Main container */
.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

/* Each service item in marketplace */
.marketplace-service-item {
    position: relative;
    width: auto;
    background-color: white;
    border: 1px solid #F1F1F1;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

/* Service image */
.service-image {
    height: 185px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

/* Main details for service */
.service-details {
    padding: 10px;
    padding-bottom: 12px;
}

/* Left: heading desc, Right: ratings */
.marketplace-service-two-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Service page */
/* Left: Ratings tags, Right: Save button */
.service-top-section {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}

/* Rating div */
.service-rating {
    display: flex;
    align-items: center;
}

/* Rating stars */
.service-rating img {
    width: 14px;
    height: auto;
    margin-right: 4px;
    opacity: 85%;
}

/* Rating number */
.service-rating p {
    font-size: 14px;
    color: #858585;

}

/* Service names in marketplace */
.marketplace-service-name {
    margin-bottom: 8px;
    max-width: 80%;
}

/* Service description */
.service-description {
    width: 85%;
    margin-bottom: 1px;
}

/* Main Services body */
.service-body {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Service items */
.services-info-container {
    background-color: white;
    padding: 12px;
    border: 1px solid #F1F1F1;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.services-info-heading {
    font-size: 18px;
    font-weight: bold;
    color: #4F4D4D;
    margin-top: 0px;
}

.service-availability-margin {
    margin-top: 15px;
}


/* Profile picture and name */
.profile-container {
    display: flex;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 18px;
}

.profile-picture {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
    opacity: 70%;
}

.profile-name {
    font-size: 13px;
    margin-right: 5px;
}






/* Favourite/Save button */
.favorite-button.marketplace {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    ;
    bottom: 20px;
    right: 20px;
}

.favorite-button.service {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    ;
    bottom: 10px;
    right: 0px;
}

.favorite-icon {
    width: 21px;
    height: auto;
    opacity: 50%;
}



/* Image indicators */
.indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.indicator {
    width: 5px;
    height: 5px;
    background-color: #d2d2d2;
    border-radius: 50%;
    margin: 0 4px;
}

.indicator.active {
    background-color: #979797;
}



/* Pricing Table */
.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.pricing-table th, .pricing-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.pricing-table tr:last-child td {
    border-bottom: none;
}

.pricing-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #4F4D4D;
}

.pricing-table td:first-child {
    width: 50%;
}

.pricing-table td {
    color: #333;
}
