body {
    margin: 0px;
    background-color: #fefefe;
    overflow-x: hidden;
}

.container {
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
}

.inner-container {
    padding-left: 10px;
    padding-right: 10px;
}

.image-full-width {
    width: 100%;
    height: auto;
}

.center-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.same-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;

}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-bottom-45 {
    margin-bottom: 45px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.remove-margin-top-5 {
    margin-top: -5px;
}

.remove-margin-bottom-5 {
    margin-bottom: -5px;
}

.remove-margin-top-10 {
    margin-top: -10px;
}

.remove-margin-bottom-10 {
    margin-bottom: -10px;
}

.remove-margin-top-15 {
    margin-top: -15px;
}

.remove-margin-bottom-15 {
    margin-bottom: -15px;
}

.remove-margin-top-20 {
    margin-top: -20px;
}

.remove-margin-bottom-20 {
    margin-bottom: -20px;
}

.remove-margin-top-25 {
    margin-top: -25px;
}

.remove-margin-bottom-25 {
    margin-bottom: -25px;
}

.remove-margin-top-30 {
    margin-top: -30px;
}

.remove-margin-bottom-30 {
    margin-bottom: -30px;
}

.remove-margin-top-35 {
    margin-top: -35px;
}

.remove-margin-bottom-35 {
    margin-bottom: -35px;
}

.remove-margin-top-40 {
    margin-top: -40px;
}

.remove-margin-bottom-40 {
    margin-bottom: -40px;
}

.remove-margin-top-45 {
    margin-top: -45px;
}

.remove-margin-bottom-45 {
    margin-bottom: -45px;
}

.remove-margin-top-50 {
    margin-top: -50px;
}

.remove-margin-bottom-50 {
    margin-bottom: -50px;
}


/* Remove later, empty bottom space */
.empty-space {
    height: 80px;
}



/* Text and headings */
a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    color: #333;
}

.heading-large {
    font-size: 26px;
    font-weight: bold;
    color: #4B4B4B;
}

.heading-medium {
    font-size: 18px;
    font-weight: bold;
    color: #4B4B4B;
}

.heading-small {
    font-size: 16px;
    font-weight: bold;
    color: #4B4B4B;
}

.text-xl {
    font-size: 20px;
    color: #333;
}

.text-l {
    font-size: 18px;
    color: #333;
}

.text-m {
    font-size: 16px;
    color: #333;
}

.text-s {
    font-size: 14px;
    color: #333;
}

.text-xs {
    font-size: 12px;
    color: #333;
}

.text-xxs {
    font-size: 10px;
    color: #333;
}


.text-thick {
    font-weight: bold;
}

.text-grey {
    color: #7d7d7d;
}

.text-light-grey {
    color: #afafaf;
}

.text-extra-light-grey {
    color: #dbdbdb;
}



/* Buttons */
.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.pink-button {
    background-color: #FFB3B3;
    color: #291E1E;
}

.grey-button {
    background-color: #f0f0f0;
    color: #333;
}

.button-text-white {
    color: #ffffff;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.button-small {
    padding: 5px 10px;
    font-size: 12px;
}

.button-medium {
    padding: 10px 15px;
    font-size: 14px;
}

.button-large {
    padding: 15px 20px;
    font-size: 16px;
}

.button-min-small {
    min-width: 100px;
}

.button-min-medium {
    min-width: 140px;
}

.button-min-large {
    min-width: 180px;
}

.button-min-xlarge {
    min-width: 220px;
}

.button-min-fill {
    width: 100%;
}



/* Effects */
.glow-effect {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 175, 175, 0.5);
    }

    100% {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255, 175, 175, 0.7);
    }
}

.grow-effect {
    animation: grow 1.75s ease-in-out infinite alternate;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}



/* Tags */
.tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 4px;
}

.tag-grey-background {
    background-color: #f0f0f0;
}

.tag-pink-background {
    background-color: #FFB3B3;
}

.tag-grey-text {
    color: #666;
}

.tag-dark-text {
    color: #291E1E;
}

.tag-green-text {
    color: #30b803;
}

.tag-orange-text {
    color: #f6b51e;
}

.tag-thick {
    font-weight: bold;
}

.tag-verified {
    font-size: 10px;
    background-color: #eeeeee;
    color: rgb(145, 145, 145);
    height: 12px;
}

















/* Temp display */
.display-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}