/* styles.css */

body {
    background-color: #FBFBFB;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-heading {
    color: #4B4B4B;
    font-size: 24px;
    font-weight: bold;
}

.container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.inner-container {
    padding-left: 5px;
    padding-right: 5px;
}

/* Remove later, empty bottom space */
.empty-space {
    height: 90px;
}